.nav-heading{
 display: flex;
 justify-content: space-between;
 padding: 0 5rem;
 color: black;
 &:hover{
  cursor: pointer;
 }

 div{
  display: flex;
  h3{
   &:first-child{
    padding-right: 2rem
   }
  }
 }
} 